
//Reset Portion.

$font-family : "Arial, Helvetica, sans-serif";


// Header Portion.

$theme-color : (
     "primary" : rgb(34, 34, 214),
    "primary-hover" : blueviolet,
);

 $text : none;
 $color : black;
 $bg-color : white;


 //Home Portion.

 $hover : blueviolet;
 